/* 회원가입페이지, 로그인 페이지, 비밀번호찾기페이지
  아이디 찾기 페이지에서 공통으로 사용할 디자인
*/
.auth-background{
  display: flex;
  justify-content: center;
  padding: 50px 30px 100px;

  background-image: url(../assets/auth-back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.auth-container{
  border: 4px solid black;
  width: 500px;
  padding: 20px 10px;

  display: flex;
  flex-direction: column;
  row-gap: 40px;

  box-shadow: 15px 15px black;
  backdrop-filter: blur(15px);
}

.auth-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  height: 70px;
}

.page-title{
  font-size: 30px;
  font-weight: 900;
  font-family: "Ubuntu", sans-serif;
}

.input-box{
  border: 3px solid black;
  padding: 25px 20px 10px;

  display: flex;
  flex-direction: column;
  row-gap: 5px;

  position: relative;
}

.input-box input, .input-box select{
  border: 3px solid black;
  padding: 10px 5px;
}

.auth-container button{
  background-color: #6CD5E9;
  border: 3px solid black;
  padding: 20px;
}

.input-box label{
  border: 3px solid black;
  background-color: #6CD5E9;
  padding: 2px 5px;
  position: absolute;
  top: -25px;
  left: 2px;
}

.status-msg{
  font-size: 14px;
  padding-left: 10px;
}

.social-login{
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.auth-container .kakao-btn{
  border: none;
  background-color: #FEE500;
  padding: 12px;
  color: #000000D9;
}

.auth-container .naver-btn{
  border: none;
  background-color: #03C75A;
  padding: 12px;
  color: white;
}

.auth-foot{
  display: flex;
  justify-content: center;
  column-gap: 10px;
  align-items: center;
}

.vertical-line{
  border-right: 1px solid silver;
  height: 15px;
}