/* index.html에서 사용하는 css */
/* 핸드폰 기준 디자인 */

/* header 위치 디자인 시작*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  /* fixed --> 밑에 깔려있음 */
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  z-index: 20;
}

.main-logo{
  width: 150px;
}
/* 헤더위치 디자인 끝 */
/* search banner 디자인 시작 */
.banner{
  /* background-color: #6CD5E9; */
  background-image: linear-gradient(to bottom, white, #6CD5E9);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
}
.banner-img{
  width: 50%;
  min-width: 300px;
  max-width: 580px;
  /* box-shadow: 0 0 15px black; */
  filter: drop-shadow(0 0 15px black);
  animation-name: fly;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.banner-content{
  position: absolute;
  bottom: 30%;
}

.category-container{
  transform: skewY(-5deg);
  position: absolute;
  bottom: 50%;
  z-index: 20;
}

.category-container label{
  background-color: black;
  box-shadow: 5px 5px #6CD5E9;
  color: white;
  cursor: pointer;
  padding: 2px 6px;
  transition: 0.3s;
  font-weight: 900;
}

.category-container label:hover, .category-container input:checked+label{
  background-color: #6CD5E9;
  color: black;
  box-shadow: 0 0 15px black;
}
.category-container input{
  display: none;
}

.search-bar{
  color: white;
  background-color: black;
  padding: 15px 20px 10px;
  font-size: 25px;
  box-shadow: 0 0 15px black;
  border: none;
  outline: none;
  font-weight: bold;
  transform: skewY(-5deg);
  position: absolute;
  bottom: 30%;
  z-index: 10;
}


@keyframes fly{
  0%{
    transform: scale(1) translateX(-1%) translateY(-1%);
  }
  100%{
    transform: scale(1.005) translateX(0%) translateY(0%);
  }
}

/* search banner 디자인 끝 */

/* 태블릿 기준 디자인 */
@media screen and (min-width:600px) {
  
}

/* 웹 기준 디자인 */
@media screen and (min-width:1024px) {
  header{
    padding: 5px 100px;
  }
}


