/* index.html에서 사용하는 css */
/* 핸드폰 기준 디자인 */

/* header 위치 디자인 시작*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  /* fixed --> 밑에 깔려있음 */
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  z-index: 20;
}

.main-logo{
  width: 150px;
}
/* 헤더위치 디자인 끝 */
/* search banner 디자인 시작 */
.banner{
  /* background-color: #6CD5E9; */
  background-image: linear-gradient(to bottom, white, #6CD5E9);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
}
.banner-img{
  width: 50%;
  min-width: 300px;
  max-width: 580px;
  /* box-shadow: 0 0 15px black; */
  filter: drop-shadow(0 0 15px black);
  animation-name: fly;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.banner-content{
  position: absolute;
  bottom: 30%;
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 900px;
  min-width: 400px;
}

.category-container{
  transform: skewY(-5deg);
  position: relative;
  margin-bottom: -10px;
  z-index: 1;
}

.category-container label{
  background-color: black;
  box-shadow: 5px 5px #6CD5E9;
  color: white;
  cursor: pointer;
  padding: 2px 6px;
  transition: 0.3s;
  font-weight: 900;
}

.category-container label:hover, .category-container input:checked+label{
  background-color: #6CD5E9;
  color: black;
  box-shadow: 0 0 15px black;
}
.category-container input{
  display: none;
}

.search-bar{
  color: white;
  background-color: black;
  padding: 15px 20px 10px;
  font-size: 25px;
  box-shadow: 0 0 15px black;
  border: none;
  outline: none;
  font-weight: bold;
  transform: skewY(-5deg);
  position: relative;
}
/* search banner 디자인 끝 */

main{
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.meeting-container{
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pagination{
  margin: 0 auto;
}

.active{
  background-color: #6cd5e9;
  transform: translateY(3px);
  box-shadow: none;
}

/* card 디자인시작 */
.card{
  border: 3px solid black;
  box-shadow: 5px 5px black;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.card-header{
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.meeting-leader-profile{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.card-title{
  flex-grow: 1;
  font-size: 18px;
}

.card-cover{
  width: 100%;
  border-radius: 7px;
}

.card-body{
  font-size: 16px;
  line-height: 200%;
}

.weekday , .mission{
  background-color: #2d2d2d;
  padding: 2px 4px;
  border-radius: 3px;
}

.mon{color:#dcecaa }
.tue{color: #3bff8d}
.wed{color: #ffa845}
.thu{color: #ff6b6b}
.fri{color: #93a6ff}
.sat{color: #aafff1}
.sun{color: #cfb5ff}

.mission{
  color: #ff26db;
}

.card-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category{
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #6cd5e9;

}

.participants{
  display: flex;
}

.profile{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid silver;
  margin-left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}


/* card 디자인끝 */

/* footer 디자인 시작 */
footer{
  background-color: #333333;
  color: white;
  padding: 20px 10px;
  
}

.footer-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-logo{
  width: 150px;
}

/* footer 디자인 끝 */

@keyframes fly{
  0%{
    transform: scale(1) translateX(-1%) translateY(-1%);
  }
  100%{
    transform: scale(1.005) translateX(0%) translateY(0%);
  }
}



/* 태블릿 기준 디자인 */
@media screen and (min-width:600px) {
  .meeting-container{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width:900px) {
  .meeting-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* 웹 기준 디자인 */
@media screen and (min-width:1024px) {
  header{
    padding: 5px 100px;
  }
  footer{
    padding-right: 100px;
    padding-left: 100px;
  }
  .meeting-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


